doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jQuery UI Sortable - Connect lists
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/resources/demos/style.css')
        link(href='stylesheets/bucketlist.css', rel='stylesheet', type='text/css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
            $( function() {
                $( "#list1, #list2" ).sortable({
                    connectWith: ".connectedSortable"
                }).disableSelection();
            } );
    body
        h1 Create your Bucket List
        h2 The list on the left is some of for your trip planning in US west coast
        h5
            | (Drag items from list in left, to list in right to create your very own bucket list)
        ul#list1.connectedSortable
            li.ui-state-default San Francisco
            li.ui-state-default San Diego
            li.ui-state-default Los Angeles
            li.ui-state-default Lake Tahoe
            li.ui-state-default Sacramento
            li.ui-state-default Napa Valley
            li.ui-state-default Santa Barbara
            li.ui-state-default Yosemite Valley
            li.ui-state-default Sausolito
            li.ui-state-default Berkeley
        ul#list2.connectedSortable
