doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        // Custom CSS
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='public/css/maps.css', type='text/css')
        style.
            #resizable { width: 800px; height: 500px; padding: 0.5em; }
            #resizable h3 { text-align: center; margin: 0; }
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
            $( function() {
                $( "#resizable" ).resizable();
            } );
    body
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='homepage.html')
                img.img-fluid(src='image/qIXtA.png', height='30px', width='30px')
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='homepage')
                            | Home
                            span.sr-only
                    li.nav-item
                        a.nav-link(href='#') About
                    li.nav-item
                        a.nav-link(href='bucketlist') BucketList
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='text', placeholder='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        // display map
        .ui-widget-content
            .container
                .row.justify-content-center
                    #resizable.ui-widget-content
                        h3.ui-widget-header Explore West Coast
                        iframe(width='100%', height='95%', frameborder='0', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBhbImaMErB_FzIzVlrlfbdXfOfmo1uPYc\
            &q=bay area', allowfullscreen='')
