doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Tour Guide for Spartans
        // Custom Fonts
        script(src='https://use.fontawesome.com/f9b22d3044.js')

        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')

        // Custom CSS
        link(href='stylesheets/test.css', rel='stylesheet')
    body#page-top

        .container
            .row.justify-content-center
                .col-10
                    h2
                        i.fa.fa-file-o
                        |  Result


                    hr
                    .input-group
                        input.form-control(type='text', value='', name='', placeholder='Search......')
                        span.input-group-btn
                            button.btn.btn-primary(type='button')
                                i.fa.fa-search


                    p show all the result matching

                    hr

                    